name: Notification ntfy
on: 
    push: 
        branches: ["main"]
jobs:
    enviar-alerta:
        runs-on: ubuntu-latest
        steps:
           - uses: actions/checkout@v4
           - run: | 
                REPO_URL="https://github.com{{ github.repository }}"
                MESSAGE="El usuario ${{ github.actor }} ha subido nuevo codigo al repositorio $REPO_URL en la rama ${{ github.ref_name }}"
                curl -d "$MESSAGE" https://ntfy.sh/devops-itla