name: Notification ntfy
on: 
    push: 
        branches: ["main"]
jobs:
    enviar-alerta:
        runs-on: ubuntu-latest
        steps:
           - uses: actions/checkout@v4
           - run: | 
                curl -d "Se ha subido codigo nuevo al repositorio de practica2 en la rama main" https://ntfy.sh/devops-itla